body{
    --wArale: 100px;
    --hArale: calc(var(--wArale) + (var(--wArale) * 22 /100) );
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taulell{
    width: 70%;
    height: 90vh;
    background-color: lightblue;
}
.item{
    position: absolute;
    width: var(--wArale);
    height: var(--hArale);
    background-image: url(./imatges/Arale_Artwork.png);
    background-repeat: no-repeat;
    background-size: cover;
}