body{
    --wArale: 100px;
    --hArale: calc(var(--wArale) + 40px );
}
.item{
    position: absolute;
    top:200px;
    left:200px;
    width: var(--wArale);
    height: var(--hArale);
    background-image: url(./imatges/Arale_Artwork.png);
    background-repeat: no-repeat;
    background-size: cover;
}