@font-face{
    font-family: "Retro-Score";
    src: url("./fonts/PressStart2P.ttf");
}
*{
    box-sizing: border-box;
}
body{
    --wArale: 80px;
    --hArale: calc(var(--wArale) + (var(--wArale) * 32 /100) );
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taulell{
    width: 80%;
    height: 93vh;
    background: url(./imatges/fons1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2em solid rgb(39, 39, 39);
    border-radius: 2.5%;
    box-shadow: 3px 3px rgb(128, 125, 125);
}
.item{
    position: absolute;
    width: var(--wArale);
    height: var(--hArale);
    background-image: url(./imatges/Arale_Artwork.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.score{
    float: right;
    height: 2em;
    margin-right: 1em;
}
.pScore{
    font-family: "Retro-Score";
}